@(bookForm : Form[Book])(implicit request : Http.Request, message: play.i18n.Messages)
@import views.html.partials._booksFormFields
@import helper._

@layout("Create Book"){
    <h2>Create Book</h2>
    @if(request.flash.get("danger").isPresent()){
        <div class="alert alert-danger">
            @request.flash.get("danger")
            <a href="#" class="close" data-dismiss="alert">x</a>
        </div>
    }

    @form(action = routes.BooksController.save(),'class->"form-group"){
        @inputText(bookForm("id"),'_help -> "Enter a valid Unique Id (Numbers only)",'_label -> "Book Id",'class->"form-control")
        @_booksFormFields(bookForm)
        <button class="btn btn-success" type="submit">Create Book</button>
    }
}