@(bookForm : Form[Book])(implicit request : Http.Request, message: play.i18n.Messages)
@import views.html.partials._booksFormFields
@import helper._

@layout("Edit Book"){
    <h2>Edit Book</h2>
@if(request.flash.get("danger").isPresent()){
<div class="alert alert-danger">
    @request.flash.get("danger")
</div>
}
    @form(action = routes.BooksController.update(),'class->"form-group"){
        @_booksFormFields(bookForm)
        <button class="btn btn-primary" type="submit">Edit Book</button>
    }
}