@(books : List[Book])(implicit request : Http.Request)

@layout("All Books"){
    <h2>All Books</h2>
@if(request.flash.get("success").isPresent()){
<div class="alert alert-success">
    @request.flash.get("success")
    <a href="#" class="close" data-dismiss="alert">x</a>
</div>
}
    @for(book <- books){
<div class="card" style="width: 18rem;">

<div class="card-body">
    <a href="@routes.BooksController.show(book.id)"><h5 class="card-title">@book.title</h5></a>
    <p>Price : @book.price</p>
    <p>Author : @book.author</p>
</div>
</div>
    }
}